/* Reset Style */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}



/* Global Style */
.text-align {
    text-align: center;
}

.or-color {
    color: chocolate;
}

.inline-block {
    display: inline-block;
}

.white {
    color: white;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.float-right {
    float: right;
}

.container {
    width: 80%;
    margin: auto;
}

/* Custum Style */
nav {
    padding: 1% 0%;
}

nav li {
    margin-left: 20px;
    margin-top: 5px;
}

.margin {
    margin: 1% 0%;
}

.banner {
    background-image: url(../images/photo-1486406146926-c627a92ad1ab.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.overlay {
    background-color: rgba(210, 105, 30, 0.215);
    height: 100vh;
}

.fifty-fifty {
    width: 50%;

}

.text h1 {
    font-size: 60px;
    margin-top: 20%;
}

.text h2 {
    font-size: 30px;
    margin-top: 3%;

}

p {
    color: lightgray;
}

hr {
    margin: 5% 0%;
    width: 10%;
}

.button {
    background-color: transparent;
    border: 1px solid;
    margin: 5% 0%;
    padding: 10px 30px;
    color: white;


}

.margin-bottom {
    margin-bottom: 30px;
}

.padding {
    padding: 10px;
}

.button-form {
    width: 100%;
    background-color: chocolate;
    padding: 5% 0%
}

.input {
    width: 80%;
    border-color: white;
    border-bottom: 2px solid black;
    padding: 2%;

}

.right {
    background-color: transparent;
}

.form {
    text-align: center;
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 5px;

}

.arrow-up{
    
}